<div class="panel home">
	<%= partial :"_hamburger" %>
	<div class="welcome">
		<h1>Welcome!</h1>
		<a href="" data-on-click="showPanel" data-panel=".stringing" data-key="n">Add your first stringing</a>
	</div>
</div>

<div class="panel stringing">
	<h1>New Stringing</h1>
	<form>
		<div class="form-row">
			<input type="text" value="" name="strung_on" placeholder="Strung On" class="datepicker">
		</div>
		<div class="form-row">
			<input type="text" value="" placeholder="Stringer Name" data-on-keyup="quickSearch" data-results=".stringer" data-on-blur="hideResults">
			<!-- <span class="plus" data-on-click="showPanel" data-panel=".stringers">&plus;</span> -->
			<div class="list stringer results">
				<p data-on-click="makeValue">Mark Garrigan</p>
				<p data-on-click="makeValue">Ron Yu</p>
				<p data-on-click="makeValue">Nate Ferguson</p>
				<p data-on-click="makeValue">Glynn Roberts</p>
			</div>
		</div>
		<div class="form-row">
			<input type="text" value="" placeholder="Customer Name" data-on-keyup="quickSearch" data-results=".customer" data-on-blur="hideResults">
			<!-- <span class="plus" data-on-click="showPanel" data-panel=".customers">&plus;</span> -->
			<div class="list customer results">
				<p data-on-click="makeValue">Roger Federer</p>
				<p data-on-click="makeValue">Mardy Fish</p>
				<p data-on-click="makeValue">Jo Wilfred Tsonga</p>
			</div>
		</div>
		<div class="form-row">
			<input type="text" value="" placeholder="Racquet" data-on-keyup="quickSearch" data-results=".racquet" data-on-blur="hideResults">
			<!-- <span class="plus" data-on-click="showPanel" data-panel=".racquets">&plus;</span> -->
			<div class="list racquet results">
				<p data-on-click="makeValue">Wilson Prostaff 6.1</p>
				<p data-on-click="makeValue">Yonex RDS 100</p>
				<p data-on-click="makeValue">Head Prestige</p>
			</div>
		</div>
		<div class="form-row border">
			<label for="main_tension" class="range-label">
				Main Tension
				<input type="number" name="main_tension" id="main_tension" value="" data-on-change="setSlider" data-slider="main_tension" class="range only-number">
			</label>
			<div class="range-container">
				<input type="range" class="slider" value="58" min="1" max="100" step=".1" data-highlight="true" data-input="main_tension" />
			</div>
		</div>
		<div class="form-row">
			<input type="text" value="" placeholder="Main String" data-on-keyup="quickSearch" data-results=".m-string" data-on-blur="hideResults">
			<!-- <span class="plus" data-on-click="showPanel" data-panel=".strings">&plus;</span> -->
			<div class="list m-string results">
				<p data-on-click="makeValue">Luxilon ALU Power</p>
				<p data-on-click="makeValue">Gamma Live Wire</p>
				<p data-on-click="makeValue">Babolat VS Gut 1.25</p>
			</div>
		</div>
		<div class="form-row border">
			<label for="cross_tension" class="range-label">
				Cross Tension
				<input type="number" name="cross_tension" id="cross_tension" value="" data-on-change="setSlider" data-slider="cross_tension" class="range only-number">
			</label>
			<div class="range-container">
				<input type="range" class="slider" value="60" min="1" max="100" step=".1" data-highlight="true" data-input="cross_tension" />
			</div>
		</div>
		<div class="form-row">
			<input type="text" value="" placeholder="Cross String" data-on-keyup="quickSearch" data-results=".c-string" data-on-blur="hideResults">
			<!-- <span class="plus" data-on-click="showPanel" data-panel=".strings">&plus;</span> -->
			<div class="list c-string results">
				<p data-on-click="makeValue">Luxilon ALU Power</p>
				<p data-on-click="makeValue">Gamma Live Wire</p>
				<p data-on-click="makeValue">Babolat VS Gut 1.25</p>
			</div>
		</div>
		<span class="save">Save</span>
	</form>
	<span class="cancel" data-on-click="hidePanel" data-panel=".stringing">Cancel</span>
</div>

<div class="panel stringers">
	<%= partial :"_hamburger" %>
	<h1>Stringers</h1>
	<div class="list">
		<p data-on-click="showPanel" data-panel=".stringer">Mark Garrigan</p>
		<p data-on-click="showPanel" data-panel=".stringer">Ron Yu</p>
		<p data-on-click="showPanel" data-panel=".stringer">Nate Ferguson</p>
	</div>
	<span class="add" data-on-click="showPanel" data-panel=".add-stringer">&plus;</span>
</div>

<script id="stringer-template" type="text/x-handlebars-template">
	<p data-on-click="showPanel" data-panel=".stringer">{{firstName}} {{lastName}}</p>
</script>

<div class="panel stringer">
	<h1>Mark Garrigan</h1>
	<div class="details">

	</div>
	<span class="cancel" data-on-click="hidePanel" data-panel=".add-stringer">Back</span>
</div>

<div class="panel add-stringer">
	<h1>New Stringer</h1>
	<form method="post" action="/stringer">
		<div class="form-row">
			<input type="text" value="" name="first_name" placeholder="First Name">
		</div>
		<div class="form-row">
			<input type="text" value="" name="last_name" placeholder="Last Name">
		</div>
		<span class="save" data-on-click="addStringer,showPanel" data-panel=".stringers">Save</span>
	</form>
	<span class="cancel" data-on-click="hidePanel" data-panel=".add-stringer">Cancel</span>
</div>

<div class="panel events">
	<%= partial :"_hamburger" %>
	<h1>Events</h1>
	<span class="add" data-on-click="showPanel" data-panel=".add-stringer">&plus;</span>
</div>

<div class="panel racquets">
	<%= partial :"_hamburger" %>
	<h1>Racquets</h1>
	<span class="add" data-on-click="showPanel" data-panel=".add-stringer">&plus;</span>
</div>

<div class="panel strings">
	<%= partial :"_hamburger" %>
	<h1>Strings</h1>
	<span class="add" data-on-click="showPanel" data-panel=".add-stringer">&plus;</span>
</div>

<div class="panel customers">
	<%= partial :"_hamburger" %>
	<h1>Customers</h1>
	<div class="list">
		<p data-on-click="showPanel" data-panel=".customer">Roger Federer <span class="delete">Delete</span></p>
		<p data-on-click="showPanel" data-panel=".customer">Mardy Fish <span class="delete">Delete</span></p>
		<p data-on-click="showPanel" data-panel=".customer">Jo Wilfred Tsonga <span class="delete">Delete</span></p>
	</div>
	<span class="add" data-on-click="showPanel" data-panel=".add-stringer">&plus;</span>
</div>

<div class="panel customer">
	<h1>Roger Federer</h1>
	<div class="details">

	</div>
	<span class="cancel" data-on-click="hidePanel" data-panel=".customers">Back</span>
</div>

<div class="panel account">
	<%= partial :"_hamburger" %>
	<h1>Account</h1>
</div>

<div class="panel billing">
	<%= partial :"_hamburger" %>
	<h1>Billing</h1>
</div>